name: Windows

permissions:
  contents: read

on: [push, pull_request]

jobs:
    build:
        runs-on: windows-latest
        defaults:
            run:
                shell: bash

        strategy:
            fail-fast: false

            matrix:
                build_type: [Debug, Release]
                compiler: [g++, clang++, cl]

        steps:
          - uses: actions/checkout@v4
            with:
                fetch-depth: 0
                submodules: recursive

          - name: Configure CMake
            run: >
                mkdir build && cd build &&
                cmake -B .
                -DCMAKE_CXX_COMPILER=${{ matrix.compiler }}
                -DCMAKE_CXX_STANDARD=23
                -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
                -S ..

          - name: Build
            run: cmake --build build --config ${{ matrix.build_type }}

          - name: Test
            working-directory: ${{ github.workspace }}/build
            run: ctest --build-config ${{ matrix.build_type }}
